# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*

# Node / Front
node_modules/
.next/
dist/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Data & privacy
data/**/*.pdf
data/**/*.docx
data/**/*.csv
data/**/*.xlsx
