# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.local
.env.*

# Node / Front
node_modules/
.next/
dist/
.vite/

# OS / IDE
.DS_Store
.vscode/
.idea/
Thumbs.db

# Data & privacy
data/**/*.pdf
data/**/*.docx
data/**/*.csv
data/**/*.xlsx

# Extra
apps/api/.chroma/


